.container{
    font-family: 'Open Sans', sans-serif;
    max-width: 470px;
    
}



#logo{
    background-color: black;
    height: 110px;
}
#image{
    width: 140px;
    margin-left: 140px;
    margin-top: 30px;
}
.title {
    background-image: url(../images/banner.jpg) ;
    height: 330px;
    background-size: contain;
    max-width: 470px;
    
    
}
#corso{
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3 ;
    font-weight: bold;
    font-size: 2.4em;
    text-align: center;
    max-width: 250px;
    margin-left: 90px;
        padding-top: 30px;
    }
    
#description{
    text-align: center;
    max-width: 250px;
    margin-left: 90px;
    margin-bottom:25px ;
    margin-top: 30px;
    word-spacing: 2px;
    font-size: 1.2rem;
}
#submit{
    background-color:#f04c2f ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    height: 35px;
    width: 115px;
    margin-left: 165px;
    border-radius: 4px;
   
 
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3 ;
    font-weight: bold;
    text-align: center;
    max-width: 250px;
    margin-left: 90px;
    padding-top: 30px;
    margin-bottom: 20px;

}
.first-text{
    text-align: center;
    max-width: 250px;
    margin-left: 90px;
   
}
#notebook{
    width: 250px;
    margin-left: 90px;
    margin-top: 30px;
    border-radius: 120px;

}