.container{
    font-family: 'Open Sans', sans-serif;
    max-width: 450px;
    
}
#corso{
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3 ;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    max-width: 250px;
    margin-left: 90px;
    

}
#logo{
    background-color: black;
    height: 110px;
}
#image{
    width: 140px;
    margin-left: 140px;
    margin-top: 30px;
}
   

    
   